/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-bottom: 20px;
    padding-top: 50px;
}

select 
{
    width:auto;
}

h2 
{
    margin-bottom:30px;
    text-transform: uppercase;
    text-align:left;
}

pre {
    background-color:#ccc;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left:30px;
    margin-right:30px;
    width:auto !important;
}

hr {
    margin-left:0px;
    margin-right:0px;
}

.row 
{
    margin-left:0px;
}

.btn 
{
    margin-top:10px !important;
    margin-left:5px !important;
    margin-bottom:20px !important;
}

.form-horizontal .control-label 
{
    width:auto;
}

textarea.form-control {
    margin-left:5px;
}

.container 
{
    width:auto !important;
}

select.form-control 
{
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set widths on the form inputs since otherwise they're 100% wide */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] { max-width: 280px; }

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}