<ion-tabs class="tabs-icon-top  tabs-positive">

    <ion-tab title="Products" icon="ion-pizza"  ui-sref="tabs.available-products">
        <ion-nav-view name="available-products-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Recipes" icon="ion-ios7-bookmarks" ui-sref="tabs.recipes">
        <ion-nav-view name="recipes-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Shopping list" icon="ion-ios7-cart" ui-sref="tabs.shopping-list">
        <ion-nav-view name="shopping-list-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Profile" icon="ion-settings" ui-sref="tabs.profile">
        <ion-nav-view name="profile-tab"></ion-nav-view>
    </ion-tab>
</ion-tabs>