<div ng-controller="AvailableProductsCtrl">
    <li class="item item-divider">
        Sort products by:
    </li>

    <label class="item item-radio" ng-click="sort()">
        <input type="radio" ng-model="availableProductsFilters.orderBy" value="name" name="sorting-type">
        <div class="item-content">
            Name
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio" ng-click="sort()">
        <input type="radio" ng-model="availableProductsFilters.orderBy" value="timeleft" name="sorting-type">
        <div class="item-content">
            Timeleft
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio" ng-click="sort()">
        <input type="radio" ng-model="availableProductsFilters.orderBy" value="category" name="sorting-type">
        <div class="item-content">
            Category
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>
    <li>
        <label class="item item-input">
            <input type="text" placeholder="Search by name..." ng-model="availableProductsFilters.filter"/>
        </label>
    </li>
    <li>
        <button class="button button-block button-positive" ng-click="sort()">Filter products
        </button>
    </li>
    <li class="item item-divider">
        Choose category :
    </li>
    <label class="item item-radio" ng-click="sort()" menu-close nav-clear>
        <input type="radio" ng-model="availableProductsFilters.categoryId" value="" name="CategoryId">
        <div class="item-content">
            All
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio" ng-click="sort()" ng-repeat="category in availableProductsCategories" menu-close nav-clear>
        <input type="radio" ng-model="availableProductsFilters.categoryId" value="{{category.Id}}" name="categoryId">
        <div class="item-content">
            {{category.Name}}
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>
</div>