<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <link href="www/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="www/css/home-style.css" rel="stylesheet">
    <link rel="stylesheet" href="www/css/login-register-styles.css">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="www/lib/ionic/js/ionic.bundle.js"></script>
    <script src="www/lib/angular-cookies/angular-cookies.min.js"></script>
    <script src="www/lib/angular-route/angular-route.min.js"></script>
    <script src="www/lib/angular-touch/angular-touch.js"></script>


    <!-- your app's js -->
    <script src="www/js/app.js"></script>
    <script src="www/js/controllers.js"></script>

    <script src="www/js/navigation/navCtrl.js"></script>

    <script src="www/js/main/mainCtrl.js"></script>

    <script src="www/js/account/controllers/LoginCtrl.js"></script>
    <script src="www/js/account/controllers/SignUpCtrl.js"></script>
    <script src="www/js/account/services/auth.js"></script>
    <script src="www/js/account/services/authorization.js"></script>
    <script src="www/js/account/services/identity.js"></script>

    <script src="www/js/recipes/controllers/recipesCtrl.js"></script>
    <script src="www/js/recipes/controllers/recipeDetailsCtrl.js"></script>
    <script src="www/js/recipes/services/recipesData.js"></script>


    <script src="www/js/catalog-products/controllers/catalogProductsCtrl.js"></script>
    <script src="www/js/catalog-products/controllers/catalogProductDetailsCtrl.js"></script>
    <script src="www/js/catalog-products/services/catalogProductsData.js"></script>

    <script src="www/js/profile/controllers/profileCtrl.js"></script>
    <script src="www/js/profile/services/profileData.js"></script>

    <script src="www/js/available-products/controllers/availableProductDetailsCtrl.js"></script>
    <script src="www/js/available-products/controllers/availableProductsCtrl.js"></script>
    <script src="www/js/available-products/services/availableProductsData.js"></script>

    <script src="www/js/shopping-lists/controllers/shoppingListCtrl.js"></script>
    <script src="www/js/shopping-lists/services/shoppingListData.js"></script>

    <script src="www/js/categories/products/productsCategoriesData.js"></script>
    <script src="www/js/categories/recipes/recipesCategoriesData.js"></script>

    <script src="www/js/camera-control/controllers/cameraCtrl.js"></script>
    <script src="www/js/camera-control/services/cameraData.js"></script>

    <script src="www/js/notifier/notifier.js"></script>

    <script src="www/js/directives/fileread.js"></script>

    <!-- admin scripts -->
    <script src="www/js/admin/products/controllers/adminCreateProductCtrl.js"></script>
    <script src="www/js/admin/products/controllers/adminCreateProductsCategoryCtrl.js"></script>
    <script src="www/js/admin/products/services/adminProductsData.js"></script>

    <script src="www/js/admin/recipes/controllers/adminCreateRecipeCtrl.js"></script>
    <script src="www/js/admin/recipes/controllers/adminCreateRecipesCategoryCtrl.js"></script>
    <script src="www/js/admin/recipes/services/adminRecipesData.js"></script>


</head>

<body ng-app="app">

<ion-side-menus ng-controller="MainCtrl">

    <ion-side-menu-content drag-content="{{isUserLogged()}}" ng-controller="NavCtrl">
        <ion-nav-bar class="bar-positive" ng-show="isUserLogged()">
            <ion-nav-back-button class="button-icon ion-arrow-left-c">
            </ion-nav-back-button>
        </ion-nav-bar>
        <!--<ion-nav-buttons side="left" ng-show="isLogged()">-->
            <!--<button ng-show="isLogged()" class="button button-icon button-clear ion-navicon" ng-click="showMenu()">-->
            <!--</button>-->
        <!--</ion-nav-buttons>-->

        <ion-nav-buttons side="right" ng-show="isUserLogged()">
            <button ng-show="isUserLogged()" class="button button-icon button-clear ion-ios7-camera"
                    ng-click="takePictureForShoppingList()">
            </button>
            <button ng-show="isUserLogged()" class="button button-icon button-clear ion-navicon"
                    ng-click="showRightMenu()">
            </button>
        </ion-nav-buttons>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right" ng-show="isLogged()">
        <ion-header-bar class="bar bar-header bar-energized">
            <h1 class="title">Filters</h1>
        </ion-header-bar>
        <ion-content has-header="true">
            <ul class="list">
                <li>
                    <a class="item" menu-close nav-clear href="#/tab/products">Products</a>
                </li>

                <div ng-show="tab.isAvailabeProductsTab" ng-include
                     src="'www/templates/available-products/filters/available-products-filters.html'"></div>
                <div ng-show="tab.isCatalogProductsTab" ng-include
                     src="'www/templates/catalog-products/filters/catalog-products-filters.html'"></div>
                <div ng-show="tab.isRecipesTab" ng-include
                     src="'www/templates/recipes/filters/recipes-filters.html'"></div>
            </ul>
        </ion-content>
    </ion-side-menu>

    <!--<ion-side-menu side="right" ng-controller="LoginCtrl" ng-show="isLogged()">-->
        <!--<ion-header-bar class="bar bar-header bar-royal">-->
            <!--<h1 class="title">Configurations</h1>-->
        <!--</ion-header-bar>-->
        <!--<ion-content>-->

        <!--</ion-content>-->
    <!--</ion-side-menu>-->

</ion-side-menus>

</body>

</html>