<ion-view title="Home" id="home-view">
    <ion-content class="has-header" id="home-view-content">

        <div id="home-wrapper">
           
            <div id="brand-container">
                <div class="image-container logo-container">
                    <img src="images/home-logo.png" id="home-logo" alt="logo">
                </div>
                <div class="image-container title-container">
                    <img src="images/home-logo-title.png" id="home-title" alt="logo">
                </div>
            </div>

            <div id="home-button-container">
                <a class="button button-assertive" href="#/login">Login</a>
                <a class="button button-assertive" href="#/signup">Register</a>
            </div>
        </div>

    </ion-content>
</ion-view>