<ion-view title="Profile" ng-controller="LoginCtrl">
    <ion-content class="has-header">

        <ul class="list">
            <li>
                <a class="item" menu-close nav-clear href="#/profile">Profile</a>
            </li>
            <li>
                <a class="item" menu-close nav-clear href="#/login" ng-click="logout()">Logout</a>
            </li>

            <div ng-show="isAdmin()">
                <li class="item item-divider">
                    Products administration
                </li>
                <li>
                    <a class="item" menu-close nav-clear href="#/create-product">Create product</a>
                </li>
                <li>
                    <a class="item" menu-close nav-clear href="#/create-products-category">Create category
                        product</a>
                </li>

                <li class="item item-divider">
                    Recipes administration
                </li>
                <li>
                    <a class="item" menu-close nav-clear href="#/create-recipe">Create recipe</a>
                </li>
                <li>
                    <a class="item" menu-close nav-clear href="#/create-products-category">Create category
                        product</a>
                </li>
                <li class="item" menu-close nav-clear href="#/stats">
                    <strong>Stats</strong>
                </li>
            </div>
        </ul>

    </ion-content>
</ion-view>