<ion-view title="Shopping list">
    <ion-content class="has-header">
        <ion-list>
            <a class="pull-right button button-block button-balanced" href="#/catalog-products">   Add product</a>
            <a class="item item-avatar" ng-swipe-right="removeProduct(product.ProductId)" ng-repeat="product in currentShopList"
               href="#/catalog-product-details/{{product.ProductId}}">
                <img ng-src="{{product.Product.ImageUrl}}"/>
                <strong>{{product.Product.Name}}</strong>
                <br/>
                Categoty:
                <small>{{product.Product.Category.Name}}</small>
            </a>
        </ion-list>
    </ion-content>
</ion-view>