<%@ Master Language="C#" MasterPageFile="~/Site.Master"
     AutoEventWireup="true"
     CodeBehind="MasterPageProfile.master.cs"
     Inherits="CodeSmells.Web.Public.MasterPageProfile" %>

<asp:Content ID="ProfileDetails" ContentPlaceHolderID="MainContent" runat="server">
    <header>
        <h2>User profile</h2>
    </header>
    <div class="container"> 
        <asp:ContentPlaceHolder ID="ContentPlaceHolderProfileArea" runat="server" />
    </div>
</asp:Content>
