<div ng-controller="CatalogProductsCtrl">
    <li class="item item-divider">
        Sort products by:
    </li>

    <label class="item item-radio" ng-click="sort()" menu-close nav-clear>
        <input type="radio" ng-model="catalogProductsFilters.orderBy" value="name" name="sorting-type">
        <div class="item-content">
            Name
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

    <label class="item item-radio" ng-click="sort()" menu-close nav-clear>
        <input type="radio" ng-model="catalogProductsFilters.orderBy" value="category" name="sorting-type">
        <div class="item-content">
            Category
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>
    <li>
        <label class="item item-input">
            <input type="text" placeholder="Search by name..." ng-model="catalogProductsFilters.filter"/>
        </label>
    </li>
    <li>
        <a class="button button-block button-positive" menu-close nav-clear href="#/catalog-products" ng-click="sort()">Filter products
        </a>
    </li>
    <li class="item item-divider">
        Choose category :
    </li>
    <label class="item item-radio" ng-click="sort()" menu-close nav-clear>
        <input type="radio" ng-model="catalogProductsFilters.CategoryId" value="" name="CategoryId">
        <div class="item-content">
            All
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>
    <label class="item item-radio" ng-click="sort()" ng-repeat="category in categories" menu-close nav-clear>
        <input type="radio" ng-model="catalogProductsFilters.categoryId" value="{{category.Id}}" name="categoryId">
        <div class="item-content">
            {{category.Name}}
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>

</div>