<ion-view title="Create recipe">
    <ion-content class="has-header">
        <div class="list list-inset">
            <form name="recipeForm" ng-hide="identity.isAuthenticated()">
                <label class="item item-input">
                    <input type="text" placeholder="Recipe name" ng-model="recipe.Name" required/>
                </label>
                <label class="item item-input">
                    <input type="file" placeholder="Recipe image" fileread="recipe.Image" required/>
                </label>

                <div class="item item-thumbnail">
                    <img ng-src="{{recipe.Image}}" />
                </div>
                <label class="item item-input">
                    <input type="number" placeholder="Time to make (mins)" ng-model="recipe.Duration" required/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Description" ng-model="recipe.Description" required/>
                </label>

                <button class="button button-block button-positive" ng-click="createRecipe(recipe, recipeForm)">Create</button>
            </form>
        </div>
    </ion-content>
</ion-view>