<ion-view title="Sign up">
    <ion-content class="has-header" ng-hide="isLogged">
       
        <div class="list list-inset" id="register-form">
            <form name="signUpForm" ng-hide="identity.isAuthenticated()">
                <label class="item item-input">
                    <input type="email" placeholder="email@mail.com" ng-model="user.Email"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Password" ng-model="user.Password"/>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Confirm password" ng-model="user.ConfirmPassword"/>
                </label>

                <button class="button button-block button-balanced" ng-click="signup(user, signUpForm)">Register</button>
            </form>
        </div>
        
    </ion-content>
</ion-view>